<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {%if request.user.is_authenticated%}
    
    <a href="{%url 'logout'%}"class="button1">LogOut</a>
    <a href="{%url 'password_change'%}"class="button1">Change password</a>
    {%else%}
    
    <button class="button1"><a href="{%url 'SignUp'%}">SignUp</a></button>
    <a href="{%url 'login'%}"class="button1">LogIn</a>
    {%endif%}
              </div>
            </div></a>
          <div class="property-description"> 
            <h2>Welcome to Authentication {%if request.user.is_authenticated%}{{request.user}}{%else%}Visitor{%endif%}</h2>
    
          </div>
          
        </div>
      </div>
      {% comment %} <a href="something" class="button1">Button</a>
      <a href="something" class="button1">Another button</a> {% endcomment %}
</html> 